@mixin button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: rgba(4, 95, 117, 0.8);
    }
}