@use "button";
@use "banner";
@use "text";

* {
    box-sizing: border-box;
    background-color: #7dc3dd;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

.banner {
    @include banner.banner;
}

/* Style inputs */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #7dc3dd;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: right;
    width: 50%;
    margin-top: 6px;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

button {
    @include button.button;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}