@use "button";
@use "banner";
@use "text";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #7dc3dd;
}

.banner {
    @include banner.banner
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

button {
    @include button.button;
}

.info-box {
    @include text.text-box-1
}

.landing-image {
    @include banner.background;
}